@model Bringaszerviz.Models.Offer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Offer</legend>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.ticketID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ticketID)
            @Html.ValidationMessageFor(model => model.ticketID)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.serviceID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.serviceID)
            @Html.ValidationMessageFor(model => model.serviceID)
        </div>*@
        
        <input type="hidden" name="ticketId" value="@ViewBag.ticketId" />

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.deadline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.deadline)
            @Html.ValidationMessageFor(model => model.deadline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <p>
            <input type="submit" value="Create"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ListAll", "Tickets")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
