@model Bringaszerviz.Models.Offer

@{
    ViewBag.Title = "Details";
}

<h2>Details of the Offer</h2>

<table>
    <tr>
        <td>@Html.Label("Description")</td>
        <td>
            @Html.DisplayFor(model => model.description)
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Deadline")</td>
        <td>
            @Html.DisplayFor(model => model.deadline)
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Price")</td>
        <td>
            @Html.DisplayFor(model => model.price)
        </td>
    </tr>

</table>

<p>
<u>@Html.ActionLink("Back", "ListAll", "Tickets")</u>
</p>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.offerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
