@model Bringaszerviz.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ticket</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ownerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ownerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ticketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
