@model IEnumerable<Bringaszerviz.Models.Ticket>

@{
    ViewBag.Title = "My Tickets";
}

<h2>My Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ownerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ownerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ticketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ticketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ticketID })
        </td>
    </tr>
}

</table>
