@model IEnumerable<Bringaszerviz.Models.Ticket>

@{
    ViewBag.Title = "All Tickets";
}

<h2>All Tickets</h2>

<table>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ownerID)
        </th>*@
        <th>
           @* @Html.DisplayNameFor(model => model.description)*@
           Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ownerID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @if (item.offers != null)
            {
                if (item.offers.Find(s => s.serviceID == (int)ViewBag.curUser.UserId) == null)
                {@Html.ActionLink("Create Offer", "Create", "Offers", new { ticketId = item.ticketID }, null);
                }
                else if (item.offers.Find(s => (s.serviceID == (int)ViewBag.curUser.UserId) && s.accepted) != null)
                     {@Html.ActionLink("View Offer", "Details", "Offers", new { id = item.offers.First(s => s.serviceID == (int)ViewBag.curUser.UserId).offerID }, null);
                     }
                     else
                     {@Html.ActionLink("View Offer", "Edit", "Offers", new { id = item.offers.First(s => s.serviceID == (int)ViewBag.curUser.UserId).offerID }, null);
                     }
            }
        </td>
        @if (item.offers.Find(s => (s.serviceID == (int)ViewBag.curUser.UserId) && s.accepted) != null)
        { <td><a2>@Html.Label("ACCEPTED")</a2></td> }
    </tr>
}

</table>
