@model Bringaszerviz.Models.UserProfile

@{
    ViewBag.Title = "Service details";
}

<h2>Service details</h2>

<table>
    <tr>
        <td>@Html.Label("Name")</td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td>@Html.Label("E-mail")</td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Phone")</td>
        <td>
            @Html.DisplayFor(model => model.Phone)
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Address")</td>
        <td>
            @Html.DisplayFor(model => model.Address)
        </td>
    </tr>

</table>

<br />
<u>@Html.ActionLink("Back", "Index", "Tickets")</u>